$gl_green: #32a609;
$gl_blue: #00b1ff;
$gl_blue_2: #009cb9;
$gl_gray: #858585;
$gl_gray_2: #c8c8c8;
$gl_violet: #a658b1;
$gl_yellow: #fecd05;
$gl_red: #f00;

html, body {
  height: 100%;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font: 14px/1 $ArialRegular;
  color: $default_t_color;
}

b {
  font-family: $ArialBold;
}

.gl_link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

.hide {
  display: none !important;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: ' ';
}

.clearfix:after {
  clear: both;
}

.fl {
  float: left;

}

.fr {
  float: right;
}

.cb {
  clear: both;
}

.mb {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.wrapper {
  position: relative;
  min-width: 1280px;
  max-width: 100%;
  min-height: 100%;
  padding: 140px 0 0;
  overflow: hidden;

  .chery_mode & {
    padding-top: 70px;
  }
}

.base {
  padding-bottom: 50px;
}

.section_inner {
  width: 100%;
  padding: 0 20px;
  max-width: 1280px;
  margin: 0 auto;
}

//*************************** header

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

}

.header_line {
  min-height: 48px;
  line-height: 45px;
  background: #f7f7f7;
  border-bottom: 1px solid #e5e6e8;
}

.logo {
  position: relative;
  display: block;

  img {
    display: block;
    max-width: 130px;
  }

  .chery_mode & {
    margin-right: 65px;

    img {
      max-width: 150px;
    }
  }
}

.slogan {
  font-size: 12px;
}

// *********  menu

.user_menu {
  > .mb {
    padding-left: 33px;

    &:first-child {
      padding-left: 0;
    }
  }
}

.user_auth_menu {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-right: 28px;

  p {
    text-align: right;
    margin: 5px 0;
    font-size: 10.5px;
    line-height: normal;
  }
}

.logout_link {
  @extend .icon-before;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -15px;
  height: 30px;
  width: 26px;
  color: #170000;

  &:before {
    content: $icon-exit;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: right;
    font-size: 20px;
    line-height: 30px;
  }
}

.main_menu_holder {
  @extend %clearfix;
  line-height: 76px;
  min-height: 82px;
  border-bottom: 2px solid $gl_yellow;

  &.no_bdr {
    border: none;
  }

  .chery_mode & {
    line-height: 86px;

    .main_menu {
      > li {
        padding-left: 6px;
      }

      .menu_link {
        padding: 8px 9px;

        &.active {
          border-color: #c41329;
        }
      }
    }
  }
}

.main_menu {

  > li {
    padding-left: 20px;

    &:first-child {
      padding-left: 0;
    }

  }

  .menu_link {
    text-decoration: none;
    cursor: pointer;
    display: block;
    height: 37px;
    padding: 10px 0;
    font: 16px/17px $ArialBold;
    color: $default_t_color;

    &.active {
      cursor: default;
      padding: 8px 12px;
      border: 2px solid $gl_yellow;
    }
  }
}

.sort_order {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin-right: 5px;

  &:before {
    @include transition_all(border .1s);
    border-style: solid;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
    content: '';
  }

  &.order_down {
    &:before {
      border-width: 4px 3px 0 3px;
      border-color: #858585 transparent transparent transparent;
    }
  }

  &.order_up {
    &:before {
      border-width: 0 3px 4px 3px;
      border-color: transparent transparent #858585 transparent;
    }
  }

  &.order_left {
    &:before {
      border-width: 3px 0 3px 4px;
      border-color: transparent transparent transparent $gl_violet;
    }

    &.opened {
      &:before {
        border-width: 4px 3px 0 3px;
        border-color: $gl_violet transparent transparent transparent;
      }
    }
  }

  &.order_right {
    &:before {
      border-width: 3px 4px 3px 0;
      border-color: transparent $gl_violet transparent transparent;
    }

    &.opened {
      &:before {
        border-width: 4px 3px 0 3px;
        border-color: $gl_violet transparent transparent transparent;
      }
    }
  }

}

//************ content

.main_content {
  padding-top: 22px;
}

.page_title {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 26px;
}

.filter_results {
  margin-bottom: 30px;
}

.order_status_switch_holder {
  position: relative;
  display: none;

  + span {
    position: relative;
    z-index: 5;
  }

  .open_switch:hover & {
    display: block;
  }
}

.order_status_switch {
  position: absolute;
  top: -14px;
  left: -15px;
  z-index: 2;
  width: 290px;
  border: 2px solid $gl_yellow;
  padding: 55px 10px 14px;
  background: rgba(255, 255, 255, .85);
}

.order_status_list {
  position: relative;

  li {
    margin-bottom: 9px;
  }

  .check_text {
    padding-left: 22px;
    font: 13px $ArialRegular;
  }
}

.gl_table {
  width: 100%;
  border-collapse: collapse;

  &.table_v1 {

    th {
      font: 13px $ArialBold;
      color: #858585;
      height: 30px;
      vertical-align: middle;
      padding: 5px;
      text-align: left;
      background: #f7f7f7;
      border-top: 1px solid #e5e6e8;
      border-bottom: 2px solid $gl_yellow;

      &:first-child {
        border-left: 1px solid #e5e6e8;
        padding-left: 20px;
      }

      &:last-child {
        border-right: 1px solid #e5e6e8;
        padding-right: 20px;
      }

    }

    td {
      //@include transition_all(background .3s, border .3s);
      color: #858585;
      vertical-align: top;
      padding: 12px 5px 15px;
      text-align: left;
      background: #fff;
      line-height: 1.3;
      border: 2px solid transparent;
      border-bottom: 1px solid #e5e6e8;
      border-top: 1px solid #e5e6e8;

      &:first-child {
        padding-left: 20px;
      }

      &:last-child {
        padding-right: 0;
      }

      &.opened {
        border: 2px solid #e5e6e8;
      }

      &.results_cell {
        padding-top: 0;
        padding-bottom: 0;
      }

    }

    tr.opened {
      td {
        background: #f7f7f7;

        &:first-child {
          border-left: 2px solid #e5e6e8;
        }

        &:last-child {
          border-right: 2px solid #e5e6e8;
        }
      }
    }

    .main_row {

      &.opened {
        td {
          border-top: 2px solid #e5e6e8;
          border-bottom-style: dashed;
        }
      }
    }

    .info_row {

      &.opened {
        td {
          border-bottom: 2px solid #e5e6e8;
        }
      }
    }

    .col_1 {
      width: 9.5%;
    }

    .col_2 {
      width: 36.5%;
    }

    .col_3 {
      width: 18%;
    }

    .col_4 {
      width: 13.5%;
    }

    .col_5 {
      width: 13.5%;
    }

    .col_6 {
      width: 14%;
    }

    .info_row {
      display: none;

      td {
        vertical-align: middle;
      }
    }
  }

  &.table_v2 {
    th {
      font: 11px $ArialBold;
      color: #858585;
      height: 30px;
      vertical-align: middle;
      padding: 5px;
      text-align: left;
      background: #f7f7f7;
      border-top: 1px solid #e5e6e8;
      border-bottom: 2px solid $gl_yellow;

      &:first-child {
        border-left: 1px solid #e5e6e8;
        padding-left: 10px;
      }

      &:last-child {
        border-right: 1px solid #e5e6e8;
        padding-right: 20px;
      }

    }

    td {
      //@include transition_all(background .3s, border .3s);
      color: #858585;
      vertical-align: middle;
      height: 56px;
      padding: 12px 5px 15px;
      text-align: left;
      background: #fff;
      line-height: 1.3;
      border: 2px solid transparent;
      border-bottom: 1px solid #e5e6e8;
      border-top: 1px solid #e5e6e8;

      &:first-child {
        padding-left: 10px;
      }

      &:last-child {
        padding-right: 0;
      }

      &.opened {
        border: 2px solid #e5e6e8;
      }

      &.results_cell {
        padding-top: 0;
        padding-bottom: 0;
      }

    }

    tr.opened {
      td {
        background: #f7f7f7;

        &:first-child {
          border-left: 2px solid #e5e6e8;
        }

        &:last-child {
          border-right: 2px solid #e5e6e8;
        }
      }
    }

    .main_row {

      &.opened {
        td {
          border-top: 2px solid #e5e6e8;
          border-bottom-style: dashed;
        }

        &:not(.first_row) {
          td {
            height: 55px;
          }
        }
      }
    }

    .info_row {

      &.opened {
        td {
          border-bottom: 2px solid #e5e6e8;
        }
      }
    }

    .sort_order.order_left:before {
      border-width: 4px 0 4px 5px;
      margin-top: -4px;
    }

    .sort_order.order_right:before {
      border-width: 6px 10px 6px 0;
      margin-top: -6px;
      margin-left: 0;
    }

    .sort_order.order_right.opened:before {
      border-width: 10px 6px 0 6px;
      margin-top: -4px;
    }

    .sort_order.order_down:before,
    .sort_order.order_left.opened:before {
      border-width: 5px 4px 0 4px;
      margin-top: -3px;
    }

    .col_1 {
      width: 9%;
    }

    .col_2 {
      width: 31.5%;
      cursor: pointer;
    }

    .col_3 {
      width: 13%;
      cursor: pointer;
    }

    .col_4 {
      width: 9%;
      cursor: pointer;
    }

    .col_5 {
      width: 8%;
      cursor: pointer;
    }

    .col_6 {
      width: 11.5%;
      cursor: pointer;
    }

    .col_7 {
      width: 10%;
    }

    .opened {
      .col_7 {
        .semaphore_item {
          pointer-events: none;
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    .col_8 {
      width: 8%;

      .control_btn {
        font-size: 18px;
        vertical-align: middle;
      }
    }

    .bank_programmes {
      width: 42.3%;
    }

    .bank_name {
      width: 16.5%;
    }

    .bank_answer {
      width: 12.8%;
    }

    .info_row {
      display: none;

      td {
        vertical-align: middle;
      }
    }
  }
}

.chery_mode {
  .checkbox_emul .hidden_input:checked + .check_text:before {
    border-color: #c41329;
    background: none;
  }

  .order_status_switch {
    border-color: #c41329;
  }

  .gl_table.table_v2 th {
    border-bottom-color: #c41329;
  }
}

.order_link {
  text-decoration: none;
  white-space: nowrap;

  .order_id {
    display: inline-block;
    vertical-align: middle;
    font-family: $ArialBold;
    color: $gl_violet;
    border-bottom: 1px dashed $gl_violet;
  }

}

.order_r_item {
  @extend %clearfix;
  border-top: 1px solid #e5e6e8;
  padding: 14px 0;

  &:first-child {
    border-top: none;
  }
}

.bank_name {
  float: left;
  width: 23%;
}

.bank_deadline {
  float: left;
  width: 9.3%;
}

.bank_status {
  float: left;
  width: 10%;
}

.bank_programmes {
  float: left;
  width: 52.5%;
}

.bank_answer {
  float: left;
  width: 24.5%;
}

.bank_icon,
.programme_icon {
  @extend .icon-before;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.bank_icon {
  @extend .icon-label;
  @include transform_rotate(45);
  font-size: 16px;
}

.programme_icon {
  @extend .icon-document;
  font-size: 16px;
}

.programme_name {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.order_controls {
  @extend %clearfix;
  margin-right: -1%;
}

.control_item {
  float: right;
  min-width: 33%;
}

.pagination_block {
  @extend %clearfix;
  line-height: 36px;
  margin-bottom: 30px;

  > li {
    float: left;
    color: #858585;
    text-align: center;

    .gl_link {
      display: block;
      width: 37px;
      height: 36px;
      position: relative;
      color: #000;
      text-decoration: none;
      text-align: center;
      border: solid #b7b7b7;
      border-width: 1px 0;

      &.first_link {
        border-left-width: 1px;

        &:before {
          display: none;
        }
      }

      &.last_link {
        border-right-width: 1px;
      }

      &:before {
        content: '';
        position: absolute;
        top: 4px;
        bottom: 4px;
        left: 0;
        width: 1px;
        background: #e2e2e2;
      }
    }

    &.active {
      .gl_link {
        cursor: default;
        background: $gl_yellow;
        border-color: $gl_yellow;
      }
    }

    &.pagination_counter {
      padding-left: 18px;
    }

    &.pagination_next {
      padding-left: 5px;

      .gl_link {
        border-width: 1px;

        &:before {
          display: none;
        }
      }
    }
  }
}

.semaphore_item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  margin: 0 2px;

  &:first-child {
    margin-left: 0;
  }

  &.semaphore_green {
    border: 1px solid #00a651;
    background: #00a651;
  }

  &.semaphore_yellow {
    background: #fff200;
    border: 1px solid #878885;
  }

  &.semaphore_red {
    background: #d2232a;
    border: 1px solid #d2232a;
  }

}

.tooltip_v1 {
  @include transition_all(opacity .3s);
  z-index: 3;
  background: #fff;
  padding: 8px 10px;
  font-size: 12px;
  color: #000;
  left: 100%;
  float: left;
  border-radius: 2px;
  box-shadow: 0 0 13px rgba(44, 50, 65, .45);
  opacity: 0;

  &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 12px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
  }
}

//************  forms

.input_w {
  position: relative;

  &.datepicker_holder {
    .ui-datepicker-trigger {
      @extend .icon-before;
      @extend .icon-calendar;
      background: none;
      position: absolute;
      right: 0;
      top: 50%;
      width: 36px;
      height: 36px;
      margin-top: -18px;

      &:before {
        color: $gl_violet;
        font-size: 24px;
      }
    }

    input {
      padding-right: 50px;

      &:disabled + .ui-datepicker-trigger {
        pointer-events: none;

        &:before {
          color: #cdcdcd;
        }
      }
    }
  }
}

.form_row {
  @extend %clearfix;

  &.form_cell_v1 {
    .form_cell {
      float: left;
      margin-bottom: 30px;
    }
  }

  &.form_cell_v2 {
    .form_cell {
      float: left;
      margin-bottom: 15px;
    }
  }

}

.form_cell_v2 {
  p {
    margin-bottom: 12px;
  }
}

.form_cell {
  position: relative;

  &.cell_v1 {
    padding-right: 30px;
  }

  &.cell_disabled {
    color: #cdcdcd;

    .color_red {
      color: #cdcdcd;
    }
  }
}

%input_v1 {
  border: 1px solid #b7b7b7;
  height: 38px;
  border-radius: 2px;
  padding: 8px 10px;

  &:disabled {
    color: #cdcdcd;
    border-color: #cdcdcd;
  }

}

%input_v2 {
  border: 1px solid #c8c8c8;
  padding: 3px 4px;
  font: 12px/14px $ArialBold;

  &:disabled {
    color: #cdcdcd;
    border-color: #cdcdcd;
  }

}

.f_input {
  display: block;
  width: 100%;

  &.input_v1 {
    @extend %input_v1;

    &::-webkit-input-placeholder {
      font-family: $ArialItalic;
    }

    &::-moz-placeholder {
      font-family: $ArialItalic;
    }
  }

}

.gender_toggler {

  .radio_emul {
    float: left;
    width: 49.5%;
    text-align: center;

    .check_text {
      padding: 0;
      position: relative;
      line-height: 32px;
      cursor: pointer;
      border-radius: 0 2px 2px 0;

      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        width: auto;
        height: auto;
        border-radius: 0 1px 1px 0;
        border: 1px solid transparent;
      }
    }

    .hidden_input:checked + .check_text {
      border-color: #fecd05;
      cursor: default;

      &:before {
        border-color: #fecd05;
      }
    }

    &:first-child {
      margin-right: 1%;

      .check_text {
        border-radius: 2px 0 0 2px;

        &:before {
          border-radius: 1px 0 0 1px;
        }
      }
    }
  }
}

.w_100 {
  width: 100px;
}

.w_110 {
  width: 110px;
}

.w_180 {
  width: 180px;
}

.w_190 {
  width: 190px;
}

.w_200 {
  width: 200px;
}

.w_260 {
  width: 260px;
}

.w_290 {
  width: 290px;
}

.w_300 {
  width: 300px;
}

.w_380 {
  width: 380px;
}

.w_435 {
  width: 435px;
}

.w_550 {
  width: 550px;
}

.w_570 {
  width: 570px;
}

.w_580 {
  width: 580px;
}

.w_870 {
  width: 870px;
}

//************  buttons

.btn_v1 {
  height: 38px;

  &.search_btn {
    text-align: center;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: 2px;
    margin-left: -2px;
    position: relative;
    z-index: 1;
    font: 14px/38px $ArialBold;
  }

  &.next_step_btn {
    text-align: center;
    float: left;
    padding: 0 19px;
    cursor: pointer;
    border-radius: 2px;
    z-index: 1;
    font: 14px/38px $ArialBold;
    text-decoration: none;
  }
}

.btn_v2 {
  height: 20px;

  &.control_btn {
    @extend .icon-before;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border-radius: 100%;
    position: relative;
    text-decoration: none;
    font-size: 22px;

    &.control_info {
      @extend .icon-info2;
      color: $gl_violet;
    }

    &.control_check {
      @extend .icon-check;
      color: $gl_violet;
    }

    &.control_rm {
      @extend .icon-close;
      color: $gl_red;
    }
  }
}

.btn_v3 {
  height: 28px;

  &.attach_btn {
    border-radius: 2px;
    float: left;
    font: 13px/26px $ArialBold;
    padding: 0 11px;
    margin: 10px 0;
    cursor: pointer;
  }

  &.open_order_btn {
    border-radius: 2px;
    float: left;
    font: 13px/26px $ArialBold;
    padding: 0 11px;
    margin-right: 5px;
    cursor: pointer;
  }
}

.btn_v4 {
  height: 23px;

  &.order_edit_btn {
    text-align: center;
    border-radius: 2px;
    display: block;
    font: 11px/25px $ArialBold;
    padding: 0 14px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    min-width: 100px;

    &.disabled {
      cursor: default;
      opacity: .5;
    }
  }
}

.yellow_black_btn {
  @include transition_all(background .3s, color .3s);
  color: $default_t_color;
  background: $gl_yellow; 
}

.yellow_black_btn_2 {
  @include transition_all(background .3s, color .3s);
  color: #4c4c4c;
  background: #e7c247;
}

.violet_btn {
  @include transition_all(background .3s, color .3s, border-color .3s);
  color: $gl_violet;
  border: 1px solid $gl_violet;
}

.violet_btn_2 {
  @include transition_all(background .3s, color .3s, border-color .3s);
  background: $gl_violet;
  color: #fff;
}

.select2-results__option {
  line-height: 20px;
  padding: 6px 10px;

  &[aria-selected=true] {
    @extend .icon-before;
    @extend .icon-check2;
    background: none !important;
    cursor: default;
    color: #000 !important;
    position: relative;

    &:before {
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -10px;
      height: 20px;
      font-size: 12px;
      line-height: 20px;
    }
  }
}

.select2-dropdown {
  margin-top: -1px;
  position: relative;
  padding: 12px 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 9px;
    left: 9px;
    height: 1px;
    background: #e5e6e8;
  }

}

.datepicker_v1 {
  .ui-datepicker-title {

    .select2-container {
      display: block;
      min-width: 75px;
      position: absolute;
      right: -8.7em;
      top: -.1em;

    }
  }
}

.select_v1 {

  .select2-container {
    display: block;
    width: 100%;
  }

  .select2-selection--single {
    border: 1px solid #b7b7b7;
    height: 38px;
    border-radius: 2px;

    .select2-selection__rendered {
      line-height: 36px;
      //color: $gl_blue_2;
      color: $gl_violet;
    }

    .select2-selection__arrow {
      @extend .icon-before;
      @extend .icon-arrow_down;
      height: 34px;

      &:before {
        position: absolute;
        top: 50%;
        font-size: 10px;
        margin-top: -4px;
        left: 0;
      }

      b {
        display: none;
      }
    }
  }

}

.select_v2 {

  .select2-container {
    display: block;
    width: 100%;
  }

  .select2-selection--single {
    border: 1px solid #b6b6b6;
    height: 30px;
    border-radius: 2px;

    .select2-selection__rendered {
      line-height: 30px;
      padding-left: 0;
      color: #000;
      font-family: $ArialBold;
    }

    .select2-selection__arrow {
      @extend .icon-before;
      @extend .icon-arrow_down;
      height: 28px;

      &:before {
        position: absolute;
        top: 50%;
        font-size: 10px;
        margin-top: -4px;
        left: 0;
      }

      b {
        display: none;
      }
    }
  }
}

// **********  text

.color_violet {
  color: $gl_violet;
}

.color_black {
  color: $default_t_color;
}

.color_gray {
  color: #6b6b6b;
}

.color_red {
  color: $gl_red;
}

.color_green {
  color: $gl_green;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}

.wnw {
  white-space: nowrap;
}

$rectWidth: 1242px;

.rect_1024 {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  display: none;
  width: $rectWidth;
  bottom: 0;
  margin-left: -$rectWidth/2;
  pointer-events: none;
  border: 1px solid red;
}

.rect_1024:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: $rectWidth/2;
  width: 1px;
  content: '';
  background: red;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 48px;
  line-height: 45px;
  background: #f7f7f7;
  border-top: 1px solid #e5e6e8;
}

.footer_menu {
  > .mb {
    padding-left: 35px;

    &:first-child {
      padding-left: 0;
    }
  }
}

