.order_progress {
  position: relative;
  margin-top: -10px;
  margin-bottom: 25px;
}

.order_progress_val {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #ededed;
  pointer-events: none;

  &:before {
    z-index: 2;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 5000px;
    background: rgba(255, 255, 255, .5);
  }  
}

.order_progress_table {
  position: relative;
  width: 100%;

  td {
    padding: 13px 10px;
    border-top: 1px solid #9d9d9d;
    border-bottom: 2px solid #c52e3d;

    &:first-child {
      .order_progress_step {
        padding-left: 0;

        &:before {
          display: none;
        }
      }
    }
  }
}

.order_progress_step {
  @extend .icon-before;
  @extend .icon-arrow-right2;
  padding-left: 10px;
  position: relative;
  font-size: 12px;
  color: #0d0d0d;

  &:before {
    position: absolute;
    top: 50%;
    height: 16px;
    margin-top: -8px;
    left: -10px;
    font-size: 10px;
    line-height: 16px;
    color: #2e2e2e;
  }

}

.order_panel {
  @extend %clearfix;
  margin-left: -28px;
}

.order_p_client {
  padding-left: 28px;
  float: left;
  width: 20%;
  min-height: 1px;

  .order_panel_wide & {
    width: 23%;

    .order_status_table td:first-child {
      width: 62%;
    }
  }  
}

.order_p_main {
  padding-left: 28px;
  float: left;
  width: 60%;
  min-height: 1px;

  .order_panel_wide & {
    width: 77%;
  }
}

.order_p_status {
  padding-left: 28px;
  float: left;
  width: 20%;
  min-height: 1px;
}

.order_p_info {
  background: #f7f7f7;
}

.order_p_caption {
  color: #9d9d9d;
  padding: 8px 12px 3px;
  font-size: 11px;
  letter-spacing: .25px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #c8c8c8;
}

.order_p_box {
  padding: 12px 12px 20px;
}

.order_status_table {
  width: 100%;
  font-size: 12px;
  margin-bottom: 8px;

  td {
    vertical-align: top;
    padding-top: 7px;
    padding-bottom: 6px;

    &:first-child {
      width: 48%;
      padding-right: 5px;
    }
  }
}

.order_info_val {
  font-family: $Roboto;
  font-weight: 400;
  padding: 6px 0;
  //margin-bottom: 19px;
  margin-bottom: 12px;

  .edit_mode & {
    padding: 0;
    line-height: 24px;

    .checkbox_emul_2 {
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }

  .order_info_line & {
    float: left;
    margin-right: 18px;
  }
  
}

.order_info_label,
.order_status_bank {
  color: #9d9d9d;
  font-style: italic;
}

.order_client_id {
  font-size: 12px;
  color: #9d9d9d;
  padding: 6px 0;
}

.order_client_photo {
  width: 64px;
  float: left;

  img {
    display: block;
  }
}

.order_client_info {
  margin-left: 72px;
}

.order_client_name {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 8px;
}

.order_client_contacts {
  font-size: 12px;
  margin-bottom: 7px;

  li {
    display: block;
    margin-top: 7px;
    color: #000;
  }
}

.link_inherit {
  color: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

$order_tab_space: 34px;

.order_main_tabs_w {
  margin: 2px (-$order_tab_space/2 0);
  position: relative;
}

.tab_stage_list {
  @extend %clearfix;

  li {
    float: left;
    width: 40%;
    padding: 0 17px;
    position: relative;
    margin-bottom: 7px;
    
    &:first-child {
      width: 60%;
    }
  }
}

.stage_caption {
  text-transform: uppercase;
  font: 11px/1 $Roboto;
  color: #c52e3d;
  padding: 6px 0 3px;
  border-bottom: 1px solid #c52e3d;
}

.tab_list_caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  font-size: 11px;
  padding: 6px $order_tab_space/2 4px;
  text-align: center;
  text-transform: uppercase;
  color: #9d9d9d;

  &:before {
    border-bottom: 1px solid #c8c8c8;
    content: '';
    position: absolute;
    bottom: 0;
    right: 2 + $order_tab_space/2;
    left: $order_tab_space/2;
  }
}

.order_main_tabs {
  text-align: center;
  display: table;
  width: 100%;
  table-layout: fixed;

  li {
    display: table-cell;
    vertical-align: bottom;
    padding: 0 $order_tab_space/2;
  }
}

.order_tab_btn {
  @extend .icon-before;
  display: block;
  position: relative;
  height: 49px;
  font-size: 11px;
  line-height: 44px;
  //color: #6b6b6b;
  color: #0d0d0d;
  background: #ededed;
  font-weight: 400;
  border-radius: 2px;
  //letter-spacing: .5px;
  padding: 2px 10px 0;
  text-transform: uppercase;

  .small_cell & {
    height: 25px;
    line-height: 20px;
    text-transform: none;
    text-align: left;
    padding-right: 25px;

    &:before {
      content: $icon-check2;
      position: absolute;
      top: 50%;
      right: 5px;
      margin-top: -9px;
      width: 18px;
      height: 18px;
      text-align: center;
      font-size: 10px;
      line-height: 16px;
      color: #6ca140;
      font-weight: bold;
    }
    
  }

  &:after {
    @include transition_all(border .3s);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 2px;
    border: 1px solid #b3b3b3;
  }

  .ui-state-active & {
    cursor: default;
    color: #c52e3d;

    &:after {
      //border: 3px solid #e8c541;
      border: 2px solid #c52e3d;
    }
  }
}

.ui-state-active {
  ~ .ui-state-default .order_tab_btn,
  .order_tab_btn {
    &:before {
      display: none;
    }
  }
}

.order_tab_text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.tab_inner {
  padding-top: 20px;
  //padding-bottom: 30px;
}

.order_info_list {
  margin-bottom: 30px;

  > li {

    &:first-child {
      border-top: 1px solid #c8c8c8;
    }
  }
}

.order_info_caption {
  @include transition_all(color .3s, border-bottom .3s);
  position: relative;
  padding: 14px 17px 13px;
  font-size: 12px;
  letter-spacing: .5px;
  border-bottom: 1px solid #c8c8c8;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #a658b1;
  }

  &.opened {
    text-transform: uppercase;
    color: #a658b1;
    border-bottom: 1px solid #a658b1;

    &:before {
      margin-top: -2px;
      border-bottom: none;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #a658b1;
    }
  }
}

.order_info_unit {
  display: none;
  background: #f7f7f7;
}

.order_info_box {
  //padding: 20px;
  padding: 38px 30px 30px;
  font-size: 12px;
  position: relative;
}

.order_info_controls {
  position: absolute;
  top: 16px;
  right: 28px;

  li {
    float: left;
    padding-right: 7px;
  }
}

.order_info_edit {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #a658b1;
  font-size: 11px;
  font-style: italic;
  text-decoration: none;
  letter-spacing: .5px;

  &:hover {
    text-decoration: underline;
  }
}

.table_row {
  @extend %clearfix;
  padding-top: 10px;
  margin-left: -18px;
}

.table_cell {
  float: left;
  padding-left: 18px;

  &.w_70 {
    width: 70px;
  }

  &.w_90 {
    width: 90px;
  }

  &.w_95 {
    width: 95px;
  }

  &.w_100 {
    width: 100px;
  }

  &.w_120 {
    width: 120px;
  }

  &.w_140 {
    width: 140px;
  }

  &.w_150 {
    width: 150px;
  }

  &.w_180 {
    width: 180px;
  }

  &.w_190 {
    width: 190px;
  }

  &.w_205 {
    width: 205px;
  }

  &.w_220 {
    width: 220px;
  }

  &.w_230 {
    width: 230px;
  }

  &.w_300 {
    width: 300px;
  }

  &.w_320 {
    width: 320px;
  }

  &.w_525 {
    width: 525px;
  }

  &.w_540 {
    width: 540px;
  }
}

.credit_block {
  border-top: 1px solid #9d9d9d;
  background: #f7f7f7;
  padding-bottom: 1px;
  min-height: 450px;
  margin-bottom: 50px;

  .order_results {
    //padding: 34px;
  }

  .order_r_item {
    position: relative;
    padding: 7px 0 7px 24px;
    font-size: 12px;
    line-height: 24px;
    border-bottom: 1px solid #c8c8c8;

    &:first-child {
      border-top: 1px solid #c8c8c8;
    }

    &.order_awaiting {

      &.summary_opened .order_title {
        background: #f4ecd4;
      }

      .bank_answer {
        color: #e7c247;
        font-family: $Roboto;
        font-weight: 400;
      }
    }

    &.order_declined {
      .order_title {
        @extend .color_red;
      }

      .bank_answer {
        text-transform: uppercase;
      }
    }

    &.order_accepted {
      background: #ededed;
      font-family: $Roboto;
      font-weight: 400;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 2px solid #e7c247;
        pointer-events: none;
      }

      .bank_answer {
        font-size: 16px;
        text-transform: uppercase;
      }
    }

    &.order_approved {
      .order_title {
        @extend .color_green;
      }
    }

    &.order_formalization {
      .order_title {
        @extend .color_green;
        font-family: $Roboto;
        font-weight: 400;
        padding: 14px 0;
      }
    }

    &.summary_opened {
      padding-bottom: 0;
    }
  }
}

.order_summary {
  @include transition_all(border .3s);
  display: none;
  //border: solid #e7c247;
  //border-width: 0 3px;

  .summary_opened & {
  
  }
}

.order_get_inner {
  padding-top: 8px;
  padding-bottom: 22px;
  margin-left: -24px;
  margin-top: 7px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    background: #9d9d9d;
  }
}

.formalization_step {
  @extend %clearfix;
  margin-bottom: 35px;

  .table_row,
  .order_info_val {
    padding: 0;
  }

  .order_info_val {
    margin-bottom: 7px;
  }

  &.bank_info {
    .select_w4 .select2-container--default .select2-selection--single .select2-selection__rendered,
    .order_info_val input {
      font-size: 11px;
    }
  }
}

.formalization_block {
  @extend %clearfix;
  padding: 44px 30px 0 55px;
  display: none;

  p {
    color: #b479bd;
    margin-bottom: 8px;
    font: 12px $Roboto;
    font-weight: 400; 
  }

  .uploaded_files {
    margin-top: 15px;
  }
}

.formalization_docs {
  float: left;
  width: 500px;
  position: relative;

  .upload_time {
    text-align: center;
  }

  .order_info_label {
    font-size: 11px;
  }
}

.formalization_insurance {
  float: right;
  width: 325px;
  position: relative;
  padding-bottom: 38px;
}

.formalization_controls {
  position: absolute;
  left: 100%;
  bottom: 0;
  margin-left: 40px;
}

.formalization_insurance_list {
  @extend %clearfix;
  margin-left: -10px;

  li {
    float: left;
    width: 50%;
    padding-left: 10px;
    margin-bottom: 17px;
  }

  .order_info_label {
    font-size: 11px;
    line-height: 1;
  }

  .order_info_val {
    padding: 0;
    margin: 0;
  }
}

.credit_meeting_link {
  color: #4c4c4c;
  font: 12px $Roboto;
  text-transform: none;
}

.order_summary_inner {
  @extend %clearfix;
  background: #e4e4e4;
  position: relative;
  margin-top: 6px;
  border: 3px solid #e7c247;

  &:before {
    content: '';
    position: absolute;
    right: 39%;
    margin-right: 6px;
    top: 14px;
    bottom: 14px;
    background: #9d9d9d;
    width: 1px;
  }

  .order_formalization & {
    //margin-left: -24px;
  }  
}

.order_history {
  float: left;
  width: 58%;
  padding-left: 20.5%;
}

.order_history_row {
  @extend %clearfix;
  font-size: 12px;
  line-height: 38px;
  border-top: 1px solid #c8c8c8;

  &:first-child {
    border-top: none;
  }
}

.order_request {
  float: left;
  width: 58%;
  padding: 24px 0 24px 15px;

  p {
    color: #b479bd;
    margin-bottom: 10px;
    font: 12px $Roboto;
    font-weight: 400; 
  }

  .upload_time {
    text-align: left;
  }
}

.order_request_controls {
  @extend %clearfix;

  li {
    float: right;
    margin-top: 8px;
    padding-left: 20px;
  }
}

.order_request_list {
  color: #0d0d0d;
  margin-bottom: 36px;

  li {
    margin-bottom: 6px;
  }
}

.order_history_step {
  float: left;
  color: #858585;
}

.order_history_time {
  float: right;
  color: #0d0d0d;
  font-family: $Roboto;
  font-weight: 400;
}

.order_summary_list {
  float: right;
  padding: 12px 0;
  width: 39%;
  font: 11px $Roboto;

  dt, dd {
    float: left;
    margin-bottom: 7px;
    width: 50%;
  }

  dd {
    padding: 0 10px;
    color: #0d0d0d;
  }

  dt {
    color: #858585;
    clear: both;
  }
}

.order_title {
  @extend %clearfix;
  margin: -7px 0;
  padding: 7px 0;
}

.get_credit {
  float: right;
  width: 19.65%;
}

.history_step {
  display: none;

  &.active {
    display: block;
  }

  .credit_block & {
    .order_r_item {
      padding-left: 0;
    }
  }
}

.order_results {

  &.mod_1 {
    width: 525px;

    .bank_name {
      width: 38%;
    }

    .bank_programmes {
      width: 57.5%;

      .programme_name {
        width: 100%;
        max-width: 240px;
      }
    }
  }

  &.mod_2 {
    .bank_name {
      width: 20%;
    }

    .bank_programmes {
      width: 29%;
    }

    .order_date {
      width: 12%;
    }
  }

  &.bank_collapsed {

    .bank_answer {
      width: 15%;
      font-family: $Roboto;
      font-weight: 400;
      text-transform: uppercase;
    }

    .bank_name {
      position: relative;

    }
  }
}

.collapse_icon {
  height: 18px;
  width: 12px;
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    height: 0;
    width: 0;
    margin-top: -3px;
    border-style: solid;
    border-width: 3px 0 3px 4px;
    border-color: transparent transparent transparent $gl_violet;
  }

  .summary_opened & {
    &:before {
      border-width: 4px 3px 0 3px;
      border-color: $gl_violet transparent transparent transparent;
    }
  }
}

.bank_switch {
  float: left;

  .checkbox_emul_2 {
    display: inline-block;
    vertical-align: middle;

    .check_text_2:before {
      color: #6ca140;
    }
  }
}

.order_date {
  float: left;
  width: 13%;
}

.credit_steps {
  @extend %clearfix;
  border: solid #9d9d9d;
  border-width: 1px 0;
  padding: 17px 33px 20px 0;
}

.order_check {
  @extend .icon-before;
  position: relative;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;

  &:before {
    content: $icon-check2;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    border: 1px solid #9f9f9f;
  }
}

.order_steps {
  @extend %clearfix;
  padding-right: 34px;
  padding-left: 20px;

  &.mod_7 {
    margin-top: 18px;
    padding-left: 30px;
    max-width: 800px;
  }

  &.mod_6 {
    margin-top: 0;
    padding: 0;

    .credit_block .order_r_item:first-child {
      border-top: 0;
    }
  }

  &.mod_5 {
    margin-top: 18px;
    padding-left: 30px;
  }

  &.mod_4 {
    margin: 40px 0 15px;
  }

  &.mod_3 {
    margin: 20px 0 5px;
  }

  &.mod_2 {
    margin: 18px 0 -16px;
    padding-left: 30px;
  }

  &.mod_1 {
    margin: 0 0 40px;
  }

  .credit_step {
    font-family: $Roboto;
    font-weight: 400;
    text-transform: uppercase;
    color: #b479bd;
  }

  .order_edit_btn {
    min-width: 172px;
  }

  &.collapse_mod {
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 7px;
      left: 17px;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 4px solid #a658b1;
    }

    &.opened:before {
      top: 8px;
      border-bottom: none;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #a658b1;
    }
  }    
}

.credit_step {
  float: left;
  //padding-left: 8px;
  font: 12px/24px $Roboto;
  font-weight: 400; 
  color: #6ca140;
  position: relative;

  .order_check {
    margin-left: 12px;
    color: #6ca140;

    &:first-child {
      margin-left: 0;
      margin-right: 8px;
    }
  }

  &.step_1 {
    width: 215px;
  }

  &.step_2 {
    width: 250px;
  }

  &.step_4 {
    float: right;
  }

  &.step_5 {
    float: right;
    padding-left: 20px;
  }

  &.step_6 {
    width: 318px;
  }

  &.step_7 {
    padding-left: 10px;
    width: 104px;
  }
}

.order_info_table {
  width: 100%;

  td {
    vertical-align: top;
    padding-left: 10px;
    padding-top: 9px;

    &:first-child {
      padding-left: 0;
    }
  }

  p {
    margin-bottom: 15px;
  }
  
  &.layout_fix {
    table-layout: fixed;
  }
}

.edit_v1 {
  
  > input {
    @extend %input_v2;
    max-width: 145px;
  }
}

.edit_v2 {

  > .select2-container {
    max-width: 200px;
  }

  > input {
    @extend %input_v2;
    max-width: 200px;
  }
}

.edit_v3 {

  > .select2-container {
    max-width: 100px;
  }

  > textarea {
    @extend %input_v2;
    width: 100%;
  }

  > input {
    @extend %input_v2;
    max-width: 200px;
  }
}

.edit_v4 {

  //> .select2-container {
  //  max-width: 100px;
  //}

  > textarea {
    @extend %input_v2;
    width: 100%;
  }

  > input {
    @extend %input_v2;
    width: 100%;
  }
}

.select_w3 {

  .select2-container {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: 100%;

    &.select2 {
      display: none;
    }

  }

  .select2-results__option {
    @extend .icon-before;
    padding: 0 0 0 22px;
    float: left;
    position: relative;
    margin-right: 18px;
    border: none !important;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      height: 18px;
      width: 18px;
      margin-top: -9px;
      border-radius: 100%;
      border: 1px solid #9f9f9f;
    }

    &:before {
      right: auto;
      left: 0;
      width: 18px;
      text-align: center;
      line-height: 18px;
      color: #a658b1;
    }

  }

  .select2-dropdown {
    padding: 0;
    background: none !important;
    border: none !important;

    &:before {
      display: none;
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    color: #0d0d0d;
    background: none !important;
    font-family: $Roboto;
    font-weight: 400;
  }

}

.select2-selection {
  &.select_v3 {
    background: none !important;
    border: none !important;
    min-height: 0;

    .select2-dropdown {
      padding: 0;
      display: none !important;
    }

    .select2-selection__rendered {
      padding: 0;
      display: none !important;
    }

    .select2-container--default .select2-selection--multiple {
      background: none;
      border: none;
      border-radius: 0;
      min-height: 0;
    }

    .select2-search {
      display: none !important;
    }
  }
}

.select_w4 {

  .select2-selection__clear {
    display: none;
  }
  
  .select2-dropdown {
    &:before {
      right: 0;
      left: 0;
      background: #c8c8c8;
    }
  }

  .select2-dropdown {
    border-color: #c8c8c8;
  }

  .select2-container .select2-selection--single {
    height: 22px;
    background: none;
    border-radius: 0;
    border-color: #c8c8c8;
  }

  .select2-container--default .select2-selection--single {

    .select2-selection__arrow {
      height: 22px;
    }

    .select2-selection__rendered {
      font: 12px/20px $Roboto;
      font-weight: 400; 
    }
  }
  .select2-results__option {
    line-height: normal;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.select_w5 {

  .select2-selection__clear {
    display: none;
  }

  .select2-container {
    margin: -5px;
  }
  
  .select2-dropdown {
    &:before {
      right: 0;
      left: 0;
      background: #c8c8c8;
    }
  }

  .select2-dropdown {
    border-color: #c8c8c8;
  }

  .select2-container .select2-selection--single {
    height: 40px;
    background: none;
    border-radius: 0;
    border: none;
  }

  .select2-container--default .select2-selection--single {

    .select2-selection__arrow {
      height: 22px;
      top: 50%;
      margin-top: -11px;
    }

    .select2-selection__rendered {
      color: #000;
      font: 12px/40px $Roboto;
      font-weight: 400; 
    }
  }
  .select2-results__option {
    line-height: normal;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.select_w6 {
  display: inline-block;
  vertical-align: middle;

  .select2-selection__clear {
    display: none;
  }

  .select2-container {
    margin: -5px;
  }

  .select2-dropdown {
    &:before {
      right: 0;
      left: 0;
      background: #c8c8c8;
    }
  }

  .select2-dropdown {
    border-color: #c8c8c8;
  }

  .select2-container .select2-selection--single {
    height: 12px;
    background: none;
    border-radius: 0;
    border: none;

    .select2-selection__arrow {
      @extend .icon-before;

      &:before {
        content: $icon-arrow_down;
      }

      b {
        display: none;
      }
    }
  }

  .select2-container--default .select2-selection--single {

    .select2-selection__arrow {
      height: 12px;
      top: 50%;
      margin-top: -6px;
    }

    .select2-selection__rendered {
      color: #000;
      padding-left: 0;
      padding-right: 28px;
      text-overflow: initial;
      font: 12px/12px $Roboto;
      font-weight: 400; 
    }
  }
  .select2-results__option {
    line-height: normal;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.order_info_row {
  display: none;
}

.uploaded_files {
  margin-top: -5px;
  border-top: 1px solid #c8c8c8;

  li {
    border-bottom: 1px solid #c8c8c8;
  }
}

.uploaded_unit {
  @extend %clearfix;
  color: #0d0d0d;
  line-height: 39px;

  .upload_error & {
    color: #9d9d9d;

    .upload_name {
      font-style: italic;
    }
  }
}

.upload_save,
.upload_print,
.upload_folder,
.upload_remove,
.upload_status {
  @extend .icon-before;
  float: left;
  width: 7.5%;
  position: relative;
  height: 39px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;

  &:before {
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
  }

  .upload_error & {
    color: $gl_gray_2;
  }
}

.upload_status {
  color: #5e9d4c;

  &:before {
    content: $icon-check2;
  }

  .upload_error & {
    &:before {
      color: $gl_red;
      content: $icon-exclamation;
    }
  }
}

.upload_remove {
  color: $gl_red;
}

.upload_folder {
  color: #5e9d4c;

  &:before {
    content: $icon-folder-open;
  }
}

.upload_file {
  width: 47%;

  ~ .upload_save,
  ~ .upload_print,
  ~ .upload_folder,
  ~ .upload_remove,
  ~ .upload_status {
    float: right;
  }
}

.upload_date_v2 {
  width: 16%;
  text-align: right;
}

.upload_time {
  width: 14%;
  text-align: right;
}

.upload_count {
  float: left;
}

.upload_save {
  color: #5e9d4c;

  &:before {
    content: $icon-save;
  }
}

.upload_print {
  color: #5e9d4c;

  &:before {
    content: $icon-print;
  }
}

.upload_time,
.upload_date_v2,
.upload_file {
  float: left;
}

.upload_file {
  .upload_error & {
    font-style: italic;
    color: $gl_gray_2;
  }
}

.car_features {
  float: left;
  margin-left: -20px;
  margin-right: 40px;

  li {
    float: left;
    margin-bottom: 28px;
  }

  .check_text_2 {
    display: none;
    margin-left: 20px;
  }

  .hidden_input:checked + .check_text_2 {
    display: block;
  }

  .check_text_2:first-child {
    display: block;
  }

  .edit_mode & {
    .check_text_2 {
      display: block;
    }
  }
}

.file_label {
  @extend .icon-before;
  @extend .icon-folder-open;
  display: inline-block;
  vertical-align: middle;
  margin-left: 9px;
  line-height: 22px;

  &:before {
    margin-right: 3px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 22px;
  }

}

.show_always {
  display: initial !important;
}

.client_info {

  p {
    margin: 15px 0;
  }
}

.upload_list {
  margin-bottom: 20px;

  > li {
    margin-top: 10px;
  }
}

.upload_item {
  @extend %clearfix;

}

.upload_rm {
  cursor: pointer;
  float: left;
  margin-left: 5px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: $gl_red;
  width: 16px;
  height: 12px;

  &:before {
    position: absolute;
    top: -2px;
    left: 0;
    font-size: 16px;
  }
}

.upload_success {
  cursor: pointer;
  float: left;
  margin-right: 5px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: $gl_green;
  width: 16px;
  height: 12px;

  &:before {
    position: absolute;
    top: -2px;
    left: 0;
    font-size: 16px;
  }
}

.upload_name {
  float: left;
  width: 40%;
}

.upload_date {
  float: left;
  width: 30%;
}

.upload_post {
  float: left;
  width: 20%;
}

.credit_terms {
  width: 100%;
  margin-bottom: 30px;
  table-layout: fixed;

  td {
    border: solid #c8c8c8;
    border-width: 1px 0;
    padding: 10px 0;
    //color: #9d9d9d;
    color: #000;
    font-size: 12px;
    vertical-align: middle;
  }

  .caption_row td {
    padding-top: 30px;
  }

  tr:first-child td {
    padding-top: 0;
    border-top: 0;
  }

}

.agreement_progress {

  li {
    margin-bottom: 10px;
  }
}

.agreement_step {
  position: relative;
  padding-left: 20px;
}

.agreement_date {

}

.agreement_status {

}

.step_rm {
  cursor: pointer;
  color: $gl_red;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  vertical-align: middle;
  height: 14px;

  &:before {
    position: absolute;
    left: 0;
    top: -3px;
    font-size: 16px;
  }

}