include mixins
doctype html
html(lang='ru')
    +dev_head('CreditIt главная')

    body
        .wrapper
            .rect_1024
            .base
                div.header
                    .section_inner.clearfix
                        .logo_block
                            a.logo(href='#')
                            
                div.main_content
                    

            .footer
