include mixins
doctype html
html(lang='ru')
    +dev_head('CreditIt Chery', true)

    body.chery_mode
        .wrapper
            .rect_1024
            .base
                +header_chery(2)

                div.main_content
                    .section_inner
                        form(action='#')
                            .filter_results
                                table.gl_table.table_v2
                                    tr
                                        th.col_1
                                            span.sort_order.order_down
                                            span ID
                                        th.col_2 Клиент
                                        th.col_3 Контактный телефон
                                        th.col_4 Сумма кредита
                                        th.col_5 Deadline
                                        th.col_6.open_switch
                                            .order_status_switch_holder
                                                .order_status_switch
                                                    ul.order_status_list
                                                        li
                                                            label.checkbox_emul
                                                                input.hidden_input(type='checkbox')
                                                                span.check_text Кредитный расчет
                                                        li
                                                            label.checkbox_emul
                                                                input.hidden_input(type='checkbox')
                                                                span.check_text Новая заявка
                                                        li
                                                            label.checkbox_emul
                                                                input.hidden_input(type='checkbox')
                                                                span.check_text Отправлена в банк
                                                        li
                                                            label.checkbox_emul
                                                                input.hidden_input(type='checkbox')
                                                                span.check_text Одобрена банком с условием
                                                        li
                                                            label.checkbox_emul
                                                                input.hidden_input(type='checkbox')
                                                                span.check_text Заявка одобрена банком
                                                        li
                                                            label.checkbox_emul
                                                                input.hidden_input(type='checkbox')
                                                                span.check_text Отказ банка по заявке
                                                        li
                                                            label.checkbox_emul
                                                                input.hidden_input(type='checkbox')
                                                                span.check_text Клиент приглашен на сделку 
                                                        li
                                                            label.checkbox_emul
                                                                input.hidden_input(type='checkbox')
                                                                span.check_text Отказ клиента от одобренного кредита
                                                        li
                                                            label.checkbox_emul
                                                                input.hidden_input(type='checkbox')
                                                                span.check_text Кредит оформлен
                                                        li
                                                            label.checkbox_emul
                                                                input.hidden_input(type='checkbox')
                                                                span.check_text Заявка профинансирована
                                                        li
                                                            label.checkbox_emul
                                                                input.hidden_input(type='checkbox')
                                                                span.check_text Документы сданы в банк
                                                        li
                                                            label.checkbox_emul
                                                                input.hidden_input(type='checkbox')
                                                                span.check_text Закрыта
                                            span Статус заявки

                                        th.col_7 Статус по банку
                                        th.col_8 &nbsp;
                                    +tr('first_row')

                                    +loop_while(6)
                                        +tr()
                                            
                            ul.pagination_block
                                li.active: a.gl_link.first_link(href='#') 1
                                li: a.gl_link(href='#') 2
                                li: a.gl_link(href='#') 3
                                li: a.gl_link.last_link(href='#') 4
                                li.pagination_next: a.gl_link(href='#')
                                    span.icon_next.icon-before.icon-arrow-right2.color_violet
                                li.pagination_counter
                                    span 1 – 20 из 140



            +footer()
