include mixins
doctype html
html(lang='ru')
    +dev_head('CreditIt новая заявка', false, true)

    body
        .wrapper
            .rect_1024
            .base
                +header(1)

                div.main_content
                    .section_inner
                        h1.page_title Оформление новой заявки

                        form(action='#')
                            .new_order_form
                                .tab_list_holder
                                    ul#tab_list.tab_list
                                        li.tab_item: a.tab_link.icon-client(href='#tab_unit_1'): span.tab_text Клиент
                                        li.tab_item: a.tab_link.icon-wife(href='#tab_unit_2'): span.tab_text Супруга
                                        li.tab_item: a.tab_link.icon-bank(href='#tab_unit_3'): span.tab_text Банк
                                        
                                    ul.add_controls
                                        li.tab_item: a.tab_link.icon-add_client(href='#tab_unit_1'): span.tab_text Добавить созаемщика
                                        li.tab_item: a.tab_link.icon-add_gaurantor(href='#tab_unit_2'): span.tab_text Добавить поручителя
                                        li.tab_item: a.tab_link.icon-wallet(href='#tab_unit_3'): span.tab_text Добавить залогодателя
                                        
                                .steps_holder
                                    ul.step_list
                                        li.step_item.last_item: span.step_link(href='#') 
                                        li.step_item: a.step_link(href='#'): span.mb Анкета имущества
                                        li.step_item.active_step: a.step_link(href='#'): span.mb Анкета доходов и расходов
                                        li.step_item: a.step_link(href='#'): span.mb Анкета основного места работы
                                        li.step_item: a.step_link(href='#'): span.mb Анкета автокредита
                                        li.step_item: a.step_link(href='#'): span.mb Анкета довренного лица
                                        li.step_item.active_step: a.step_link(href='#'): span.mb Общая анкета
                                        
                                .tabBlock(data-tab-context='#tab_list')
                                    #tab_unit_1
                                        +tab_inner()
                                            
                                    #tab_unit_2
                                        .tab_inner 2

                                    #tab_unit_3
                                        .tab_inner 3

            +footer()
