include mixins
doctype html
html(lang='ru')
    +dev_head('CreditIt заявки', false, false, true)

    body.order_page
        .wrapper
            .rect_1024
            .base
                //-+header(2)
                +header_chery(2)

                div.main_content
                    .section_inner
                        .order_progress
                            .order_progress_val(style='width:30%;')
                            table.order_progress_table
                                tr
                                    td
                                        .order_progress_step Новая заявка  
                                    td
                                        .order_progress_step Отправлена в банк  
                                    td
                                        .order_progress_step Запрос банка  
                                    td
                                        .order_progress_step Одобрено банком  
                                    td
                                        .order_progress_step Назначена сделка  
                                    td
                                        .order_progress_step Кредит оформлен  
                                    td
                                        .order_progress_step Деньги переведены дилеру  
                                    td
                                        .order_progress_step Документы сданы в банк  
                                    td
                                        .order_progress_step Закрыта 
                                    
                        .order_panel.order_panel_wide
                            .order_p_client
                                .order_p_info
                                    .order_p_caption Клиент
                                    .order_p_box.clearfix
                                        .order_client_id 55324876
                                        .order_client_photo
                                            img(src='i/client_1.png')
                                        .order_client_info
                                            .order_client_name: b Тихомиров  <br> Сергей Андреевич
                                            
                                            ul.order_client_contacts
                                                li +7 903 256-3700
                                                li +7 495 131-0098
                                                li: a.link_inherit(href='mailto:mail@testmail.com') mail@testmail.com
                                                
                                    .order_p_caption Автомобиль
                                        
                                    .order_p_box
                                        table.order_status_table
                                            tr
                                                td
                                                    span.order_status_bank Марка
                                                td
                                                    b Chery
                                            tr
                                                td
                                                    span.order_status_bank Модель
                                                td
                                                    b Tiggo 5
                                            tr
                                                td
                                                    span.order_status_bank Комплектация
                                                td
                                                    b.color_gray VXD20ZD904
                                            tr
                                                td
                                                    span.order_status_bank Цена
                                                td
                                                    b.color_gray 900 000 руб.

                                    .order_p_caption Кредитный расчет
                                        
                                    .order_p_box
                                        table.order_status_table
                                            tr
                                                td
                                                    span.order_status_bank ПВ
                                                td
                                                    b 350 000 руб.
                                            tr
                                                td
                                                    span.order_status_bank Срок кредита
                                                td
                                                    b 24 мес.
                                            tr
                                                td
                                                    span.order_status_bank Сумма кредита
                                                td
                                                    b.color_gray 750 000 руб.
                                            tr
                                                td
                                                    span.order_status_bank Включено
                                                td
                                                    b.color_gray КАСКО, СЖ
                                                    
                            .order_p_main
                                .order_main_tabs_w
                                    ul.tab_stage_list
                                        li: .stage_caption Заполнить заявку
                                        li: .stage_caption Статус заявки
                                    ul#tab_list.order_main_tabs
                                        li: a.order_tab_btn(href='#tab_unit_1'): span.order_tab_text 1. Автомобиль
                                        li: a.order_tab_btn(href='#tab_unit_2'): span.order_tab_text 2. Параметры кредита
                                        li: a.order_tab_btn(href='#tab_unit_3'): span.order_tab_text 3. Данные клиента
                                        li: a.order_tab_btn(href='#tab_unit_4'): span.order_tab_text  Рассмотреть <br> заявку
                                        li: a.order_tab_btn(href='#tab_unit_5'): span.order_tab_text Оформить <br> кредит
                                            
                                .tabBlock.tab_block(data-tab-context='#tab_list')
                                    #tab_unit_1.tab_unit
                                        .tab_inner: form(action='#')
                                            +car_info()

                                    #tab_unit_2.tab_unit
                                        .tab_inner
                                            +credit_terms()
                                            
                                    #tab_unit_3.tab_unit
                                        .tab_inner: form(action='#')
                                            +client_info()
                                            
                                    #tab_unit_4.tab_unit
                                        .tab_inner: form(action='#')
                                            +credit_history()

                                    #tab_unit_5.tab_unit
                                        .tab_inner: form(action='#')
                                            +credit_management()
                        
            +footer()
