.main_menu_holder:after, .order_r_item:after, .order_controls:after, .pagination_block:after, .form_row:after {
  position: static;
  display: block;
  height: 0;
  clear: both;
  content: "";
  visibility: hidden;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, a, input, label, textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html:before, html:after, body:before, body:after, div:before, div:after, span:before, span:after, object:before, object:after, iframe:before, iframe:after,
h1:before,
h1:after, h2:before, h2:after, h3:before, h3:after, h4:before, h4:after, h5:before, h5:after, h6:before, h6:after, p:before, p:after, blockquote:before, blockquote:after, pre:before, pre:after,
abbr:before,
abbr:after, address:before, address:after, cite:before, cite:after, code:before, code:after,
del:before,
del:after, dfn:before, dfn:after, em:before, em:after, img:before, img:after, ins:before, ins:after, kbd:before, kbd:after, q:before, q:after, samp:before, samp:after,
small:before,
small:after, strong:before, strong:after, sub:before, sub:after, sup:before, sup:after, var:before, var:after,
b:before,
b:after, i:before, i:after, a:before, a:after, input:before, input:after, label:before, label:after, textarea:before, textarea:after,
dl:before,
dl:after, dt:before, dt:after, dd:before, dd:after, ol:before, ol:after, ul:before, ul:after, li:before, li:after,
fieldset:before,
fieldset:after, form:before, form:after, label:before, label:after, legend:before, legend:after,
article:before,
article:after, aside:before, aside:after, canvas:before, canvas:after, details:before, details:after, figcaption:before, figcaption:after, figure:before, figure:after,
footer:before,
footer:after, header:before, header:after, hgroup:before, hgroup:after, menu:before, menu:after, nav:before, nav:after, section:before, section:after, summary:before, summary:after,
time:before,
time:after, mark:before, mark:after, audio:before, audio:after, video:before, video:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

textarea {
  resize: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------------------------form elements*/
input, select {
  vertical-align: middle;
}

textarea {
  resize: none;
  overflow-y: auto;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

input:hover, input:focus, input:active,
textarea:hover,
textarea:focus,
textarea:active {
  outline: none;
}

input[type="submit"] {
  cursor: pointer;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

button:focus, button:active {
  outline: none;
}

input,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important;
}

/*-----------------------------form elements###*/
@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/ArialRegular/ArialRegular.eot");
  src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialRegular/ArialRegular.woff") format("woff"), url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "ArialBold"; */
@font-face {
  font-family: "ArialBold";
  src: url("../fonts/ArialBold/ArialBold.eot");
  src: url("../fonts/ArialBold/ArialBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialBold/ArialBold.woff") format("woff"), url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "ArialItalic"; */
@font-face {
  font-family: "ArialItalic";
  src: url("../fonts/ArialItalic/ArialItalic.eot");
  src: url("../fonts/ArialItalic/ArialItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialItalic/ArialItalic.woff") format("woff"), url("../fonts/ArialItalic/ArialItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "ArialBlack"; */
@font-face {
  font-family: "ArialBlack";
  src: url("../fonts/ArialBlack/ArialBlack.eot");
  src: url("../fonts/ArialBlack/ArialBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialBlack/ArialBlack.woff") format("woff"), url("../fonts/ArialBlack/ArialBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "ArialBoldItalic"; */
@font-face {
  font-family: "ArialBoldItalic";
  src: url("../fonts/ArialBoldItalic/ArialBoldItalic.eot");
  src: url("../fonts/ArialBoldItalic/ArialBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialBoldItalic/ArialBoldItalic.woff") format("woff"), url("../fonts/ArialBoldItalic/ArialBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'credit_it_icons';
  src: url("../fonts/icons/credit_it_icons.eot?5b1zbd");
  src: url("../fonts/icons/credit_it_icons.eot?5b1zbd#iefix") format("embedded-opentype"), url("../fonts/icons/credit_it_icons.ttf?5b1zbd") format("truetype"), url("../fonts/icons/credit_it_icons.woff?5b1zbd") format("woff"), url("../fonts/icons/credit_it_icons.svg?5b1zbd#credit_it_icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before, .icon-before:before, .bank_icon:before,
.programme_icon:before, .btn_v2.control_btn:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'credit_it_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-document:before, .programme_icon:before {
  content: "\e900";
}

.icon-label:before, .bank_icon:before {
  content: "\e901";
}

.icon-check:before, .btn_v2.control_btn.control_check:before {
  content: "\e902";
}

.icon-close:before, .btn_v2.control_btn.control_rm:before {
  content: "\e903";
}

.icon-info:before, .btn_v2.control_btn.control_info:before {
  content: "\e904";
}

.icon-arrow-right2:before {
  content: "\e905";
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-search--inline {
  float: left;
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white;
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, white 50%, #eee 100%);
  background-image: -o-linear-gradient(top, white 50%, #eee 100%);
  background-image: linear-gradient(to bottom, white 50%, #eee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-linear-gradient(top, #eee 50%, #ccc 100%);
  background-image: -o-linear-gradient(top, #eee 50%, #ccc 100%);
  background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, white 0%, #eee 50%);
  background-image: -o-linear-gradient(top, white 0%, #eee 50%);
  background-image: linear-gradient(to bottom, white 0%, #eee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eee 50%, white 100%);
  background-image: -o-linear-gradient(top, #eee 50%, white 100%);
  background-image: linear-gradient(to bottom, #eee 50%, white 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
}

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
}

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none;
}

.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent;
}

.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}

.select2-container--classic .select2-dropdown--below {
  border-top: none;
}

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--classic .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey;
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white;
}

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}

html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  font: 14px/1 "ArialRegular", sans-serif;
  color: #000;
}

b {
  font-family: "ArialBold", sans-serif;
}

.gl_link {
  text-decoration: none;
}
.gl_link:hover {
  text-decoration: underline;
}

.hide {
  display: none !important;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: ' ';
}

.clearfix:after {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mb {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.wrapper {
  position: relative;
  min-width: 1280px;
  min-height: 100%;
  padding: 140px 0 0;
}

.base {
  padding-bottom: 50px;
}

.section_inner {
  width: 100%;
  padding: 0 20px;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.header_line {
  min-height: 48px;
  line-height: 45px;
  background: #f7f7f7;
  border-bottom: 1px solid #e5e6e8;
}

.logo {
  position: relative;
  display: block;
}
.logo img {
  display: block;
  max-width: 150px;
}

.slogan {
  font-size: 15px;
}

.user_menu > .mb {
  padding-left: 33px;
}
.user_menu > .mb:first-child {
  padding-left: 0;
}

.main_menu_holder {
  line-height: 76px;
  min-height: 82px;
  border-bottom: 2px solid #fecd05;
}

.main_menu > li {
  padding-left: 20px;
}
.main_menu > li:first-child {
  padding-left: 0;
}
.main_menu .menu_link {
  text-decoration: none;
  cursor: pointer;
  display: block;
  height: 37px;
  padding: 10px 0;
  font: 16px/17px "ArialBold", sans-serif;
  color: #000;
}
.main_menu .menu_link.active {
  cursor: default;
  padding: 8px 12px;
  border: 2px solid #fecd05;
}

.sort_order {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin-right: 5px;
}
.sort_order:before {
  -webkit-transition: border 0.1s;
  -ms-transition: border 0.1s;
  transition: border 0.1s;
  border-style: solid;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
  content: '';
}
.sort_order.order_down:before {
  border-width: 4px 3px 0 3px;
  border-color: #858585 transparent transparent transparent;
}
.sort_order.order_up:before {
  border-width: 0 3px 4px 3px;
  border-color: transparent transparent #858585 transparent;
}
.sort_order.order_left:before {
  border-width: 3px 0 3px 4px;
  border-color: transparent transparent transparent #a658b1;
}
.sort_order.order_left.opened:before {
  border-width: 4px 3px 0 3px;
  border-color: #a658b1 transparent transparent transparent;
}
.sort_order.order_right:before {
  border-width: 3px 4px 3px 0;
  border-color: transparent #a658b1 transparent transparent;
}

.main_content {
  padding-top: 22px;
}

.page_title {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 26px;
}

.filter_results {
  margin-bottom: 30px;
}

.gl_table {
  width: 100%;
  border-collapse: collapse;
}
.gl_table.table_v1 th {
  font: 13px "ArialBold", sans-serif;
  color: #858585;
  height: 30px;
  vertical-align: middle;
  padding: 5px;
  text-align: left;
  background: #f7f7f7;
  border-top: 1px solid #e5e6e8;
  border-bottom: 2px solid #fecd05;
}
.gl_table.table_v1 th:first-child {
  border-left: 1px solid #e5e6e8;
  padding-left: 20px;
}
.gl_table.table_v1 th:last-child {
  border-right: 1px solid #e5e6e8;
  padding-right: 20px;
}
.gl_table.table_v1 td {
  color: #858585;
  vertical-align: top;
  padding: 12px 5px 15px;
  text-align: left;
  background: #fff;
  line-height: 1.3;
  border: 2px solid transparent;
  border-bottom: 1px solid #e5e6e8;
  border-top: 1px solid #e5e6e8;
}
.gl_table.table_v1 td:first-child {
  padding-left: 20px;
}
.gl_table.table_v1 td:last-child {
  padding-right: 0;
}
.gl_table.table_v1 td.opened {
  border: 2px solid #e5e6e8;
}
.gl_table.table_v1 td.results_cell {
  padding-top: 0;
  padding-bottom: 0;
}
.gl_table.table_v1 tr.opened td {
  background: #f7f7f7;
}
.gl_table.table_v1 tr.opened td:first-child {
  border-left: 2px solid #e5e6e8;
}
.gl_table.table_v1 tr.opened td:last-child {
  border-right: 2px solid #e5e6e8;
}
.gl_table.table_v1 .main_row.opened td {
  border-top: 2px solid #e5e6e8;
  border-bottom-style: dashed;
}
.gl_table.table_v1 .info_row.opened td {
  border-bottom: 2px solid #e5e6e8;
}
.gl_table.table_v1 .col_1 {
  width: 9.5%;
}
.gl_table.table_v1 .col_2 {
  width: 36.5%;
}
.gl_table.table_v1 .col_3 {
  width: 18%;
}
.gl_table.table_v1 .col_4 {
  width: 13.5%;
}
.gl_table.table_v1 .col_5 {
  width: 13.5%;
}
.gl_table.table_v1 .col_6 {
  width: 14%;
}
.gl_table.table_v1 .info_row {
  display: none;
}
.gl_table.table_v1 .info_row td {
  vertical-align: middle;
}

.order_link {
  text-decoration: none;
  white-space: nowrap;
}
.order_link .order_id {
  display: inline-block;
  vertical-align: middle;
  font-family: "ArialBold", sans-serif;
  color: #a658b1;
  border-bottom: 1px dashed #a658b1;
}

.order_r_item {
  border-top: 1px solid #e5e6e8;
  padding: 14px 0;
}
.order_r_item:first-child {
  border-top: none;
}

.bank_name {
  float: left;
  width: 23%;
}

.bank_programmes {
  float: left;
  width: 52.5%;
}

.bank_answer {
  float: left;
  width: 24.5%;
}

.bank_icon,
.programme_icon {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.bank_icon {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 16px;
}

.programme_icon {
  font-size: 16px;
}

.programme_name {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.order_controls {
  margin-right: -1%;
}

.control_item {
  float: left;
  width: 33%;
}

.pagination_block {
  line-height: 36px;
  margin-bottom: 30px;
}
.pagination_block > li {
  float: left;
  color: #858585;
  text-align: center;
}
.pagination_block > li .gl_link {
  display: block;
  width: 37px;
  height: 36px;
  position: relative;
  color: #000;
  text-decoration: none;
  text-align: center;
  border: solid #b7b7b7;
  border-width: 1px 0;
}
.pagination_block > li .gl_link.first_link {
  border-left-width: 1px;
}
.pagination_block > li .gl_link.first_link:before {
  display: none;
}
.pagination_block > li .gl_link.last_link {
  border-right-width: 1px;
}
.pagination_block > li .gl_link:before {
  content: '';
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 0;
  width: 1px;
  background: #e2e2e2;
}
.pagination_block > li.active .gl_link {
  cursor: default;
  background: #fecd05;
  border-color: #fecd05;
}
.pagination_block > li.pagination_counter {
  padding-left: 18px;
}
.pagination_block > li.pagination_next {
  padding-left: 5px;
}
.pagination_block > li.pagination_next .gl_link {
  border-width: 1px;
}
.pagination_block > li.pagination_next .gl_link:before {
  display: none;
}

.form_row.form_cell_v1 .form_cell {
  float: left;
  margin-bottom: 30px;
}

.form_cell {
  position: relative;
}
.form_cell.cell_v1 {
  padding-right: 30px;
}

.f_input.input_v1 {
  border: 1px solid #b7b7b7;
  height: 38px;
  border-radius: 2px;
  padding: 8px 10px;
}

.f_input {
  display: block;
  width: 100%;
}
.f_input.input_v1::-webkit-input-placeholder {
  font-family: "ArialItalic", sans-serif;
}
.f_input.input_v1::-moz-placeholder {
  font-family: "ArialItalic", sans-serif;
}

.w_100 {
  width: 100px;
}

.w_290 {
  width: 290px;
}

.w_570 {
  width: 570px;
}

.btn_v1 {
  height: 38px;
}
.btn_v1.search_btn {
  text-align: center;
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 2px;
  margin-left: -2px;
  position: relative;
  z-index: 1;
  font: 14px/38px "ArialBold", sans-serif;
}

.btn_v2 {
  height: 20px;
}
.btn_v2.control_btn {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  border-radius: 100%;
  position: relative;
  text-decoration: none;
  font-size: 22px;
}
.btn_v2.control_btn.control_info {
  color: #a658b1;
}
.btn_v2.control_btn.control_check {
  color: #a658b1;
}
.btn_v2.control_btn.control_rm {
  color: #f00;
}

.yellow_black_btn {
  -webkit-transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  color: #000;
  background: #fecd05;
}

.select_v1 .select2-container {
  display: block;
  width: 100%;
}
.select_v1 .select2-selection--single {
  border: 1px solid #b7b7b7;
  height: 38px;
  border-radius: 2px;
}
.select_v1 .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
  color: #a658b1;
}
.select_v1 .select2-selection--single .select2-selection__arrow {
  height: 34px;
}

.color_violet {
  color: #a658b1;
}

.color_black {
  color: #000;
}

.color_red {
  color: #f00;
}

.color_green {
  color: #32a609;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}

.rect_1024 {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  display: none;
  width: 1242px;
  bottom: 0;
  margin-left: -621px;
  pointer-events: none;
  border: 1px solid red;
}

.rect_1024:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 621px;
  width: 1px;
  content: '';
  background: red;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 48px;
  line-height: 45px;
  background: #f7f7f7;
  border-top: 1px solid #e5e6e8;
}

.footer_menu > .mb {
  padding-left: 35px;
}
.footer_menu > .mb:first-child {
  padding-left: 0;
}

/*# sourceMappingURL=main_global.css.map */
