$icomoon-font-path: "fonts" !default;

$icon-synchronize: "\e912";
$icon-check2: "\e906";
$icon-arrow_down: "\e907";
$icon-calendar: "\e908";
$icon-add_gaurantor: "\e909";
$icon-add_client: "\e90a";
$icon-wallet: "\e90b";
$icon-bank: "\e90c";
$icon-wife: "\e90d";
$icon-client: "\e90e";
$icon-document: "\e900";
$icon-label: "\e901";
$icon-check: "\e902";
$icon-close: "\e903";
$icon-info2: "\e904";
$icon-arrow-left2: "\e90f";
$icon-arrow-right2: "\e905";
$icon-car: "\e910";
$icon-folder-open: "\e911";
$icon-reload: "\e913";
$icon-exclamation: "\f12a";
$icon-rub: "\f158";
$icon-sun: "\e914";
$icon-print: "\e916";
$icon-save: "\e917";
$icon-info: "\e915";

